{% extends "base.html" %} 
{% load staticfiles %}

{% block title %} 
About Budgie
{% endblock %}

{% block content %}
<br>
<h2 align="center">Budgie- Your New Financial Tool</h2>
<div class="col col-md-10" id="profileinfo-container" style="margin-left: 100px;">
		
			<p style="text-align:center"><font size="5">Budgie is developed thinking of you!</font></p>
			<br>
			<font size="5">Your financial tool has never been so safe as Budgie- No sync with bank accounts</font>
			<br>
			Before starting to use Budgie, add your accounts, assets and liabilities.
			<br>
			<b>Accounts:</b>You can add credit card accounts, saving accounts and checking accounts.
			<br>
			<b>Assets:</b>such as land, property that will let you keep track of ypur worth<br>
			<b>Liabilities:</b>Any loans, insurances to be paid, keep track of them here
			<br>
			<br>
			Now you can start recording your transactions
			<br>
			<br>
			Going further, you can plan your budgets and set financial goals.
			<br>				
</div>

{% endblock %}
