{% extends "base.html" %} 

{% block title %} 
Contact Us
{% endblock %}

{% block content %}
<br>
<h2 align="center">Budgie</h2>
<div class="col col-md-10" id="profileinfo-container" style="margin-left: 100px;">
		<table class="table">
			<br>
			<p style="text-align:center"><font size="5">Team 26</font></p>
			
			<br><br>
			<p style="text-align:center"><font size="5">Krishnan, Rashmi</font></p>
			<p style="text-align:center">rashmik@andrew.cmu.edu</p>
			<br><br>

			<p style="text-align:center"><font size="5">Lau, Susana</font></p>
			<p style="text-align:center">susanal@andrew.cmu.edu</p>
			<br><br>
			<p style="text-align:center"><font size="5">Ray, Sreejita</font></p>
			<p style="text-align:center">sreejitr@andrew.cmu.edu</p>
			<br><br>
		</table>
</div>
{% endblock %}
