{% extends "base.html" %} 

{% block title %}Register Page{% endblock %}

{% block content %}
<div class="container">
<form method="post" action="{% url 'register' %}" class="form-signin" role="form">
    <h3 class="form-signin-heading">Please enter the following information:</h3>
    <br>
 	<a href="/budgie/login"><u>Already have an account?... Login</u></a>
 	<br>
        {% block errors %}
        {% for error in form.non_field_errors %}
          <p class="errorlist">{{ error }}</p>
        {% endfor %}
       {% endblock %}	
 	<br>
    {% for field in form.visible_fields %}
        {{field.label_tag}}
        {{field}}
        <td <style="color: red">{{field.errors}}</td>
    {% endfor %}
<button class="btn btn-lg btn-primary btn-block" type="submit" value="Register">Register</button>
{% csrf_token %}

  {% for field in form.hidden_fields %}
      {{field}}
  {% endfor %}
 
</form>
</div> 
{% endblock %}



